<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Filmueb</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Wprowadź film:</h1>
<form th:action="@{/addmovie}" method="post" th:object="${movie}">
    Podaj tytuł: <input type="text" th:field="*{title}"/><br/>
    Podaj opis filmu: <input type="text" th:field="*{description}"/><br/>
    Podaj rok wydania: <input type="number" th:field="*{year}"/><br/>
    Podaj link do okładki: <input type="text" th:field="*{photo}"/><br/>
    Wybierz kategorię: <select th:field="*{category}">
    <option value="comedy">Komedia</option>
    <option value="drama">Dramat</option>
    <option value="horror">Horror</option>
    <option value="thriller">Thriller</option>
    <option value="documentary">Dokumentalny</option>
</select>
    <input type="submit" value="Wprowadź film"/>
</form>
</body>
</html>